:root {
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text colors */
  --accent-cl: #ff6c00;

  /* mode light */
  --primary-txt_mode-light: #555555;
  --secondary-txt_mode-light: #303030;
  /* mode dark */
  --main-txt_mode-dark: #9da4bd;
  --primary-txt_mode-dark: rgba(157, 164, 189, 0.6);
  --secondary-txt_mode-dark: #ffffff;

  --disable: rgba(157, 164, 189, 0.6);

  /* bg colors */
  --primary-bg_mode-light: #f7f7f7;
  --primary-bg_mode-dark: #191c26;

  /* --indent: 30px; */

  /* others */
  --transition-fast: 300ms ease-in-out;
  --transition-slow: 600ms ease-in-out;
}

/* Common styles */
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--primary-txt_mode-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

.uppertitle {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.uppertitle::before {
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #9da4bd;
}

.uppertitle-mode-dark {
  color: var(--primary-txt_mode-dark);
}

.uppertitle-mode-dark::before {
  background: rgba(157, 164, 189, 0.4);
}

.uppertitle-mode-light {
  color: var(--primary-txt_mode-light);
}

.uppertitle-mode-light::before {
  background: var(--secondary-txt_mode-light);
}

.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: var(--secondary-txt-cl);
}

.title-mode-dark {
  margin-bottom: 44px;
  color: var(--secondary-txt_mode-dark);
  margin-bottom: 44px;
}
.title-mode-light {
  margin-bottom: 20px;
  color: var(--secondary-txt_mode-light);
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--main-txt-cl);
}

.subtitle-mode-dark {
  color: var(--primary-txt_mode-dark);
}
.subtitle-mode-light {
  color: var(--primary-txt_mode-light);
}

.btn {
  min-width: 160px;
  max-width: 350px;
  padding: 12px 20px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  border: 1px solid var(--accent-cl);
  border-radius: 25px;

  cursor: pointer;

  transition: color var(--transition-fast), background-color var(--transition-fast);
}

.btn-mode-dark {
  color: var(--secondary-txt_mode-dark);
}

.btn-mode-dark:hover,
.btn-mode-dark:focus {
  color: var(--secondary-txt_mode-dark);
  background-color: var(--accent-cl);
}

.btn-mode-light {
  color: var(--secondary-txt_mode-light);
}

.btn-mode-light:hover,
.btn-mode-light:focus {
  color: var(--secondary-txt_mode-dark);
  background-color: var(--accent-cl);
}

/* Header section */
.header {
  position: fixed;
  width: 100%;

  color: var(--secondary-txt_mode-dark);
  z-index: 10;
  /* background-color: #191c26; */
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 70px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link,
.header-phone {
  display: block;
  padding: 52px 0;

  transition: color var(--transition-slow);
}

.nav-link:hover,
.nav-link:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-cl);
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-phone {
  margin-right: 40px;
}

/* Hero section */
.hero {
}

.hero-container {
  display: flex;
}

.hero-left-side {
  position: relative;
  width: 100px;
}

.hero-list {
  display: flex;
  align-items: center;

  position: absolute;
  left: 50%;
  bottom: 40px;

  transform: rotate(-90deg);
  transform-origin: center left;
}

.hero-list:before {
  margin-right: 40px;
  content: "";
  width: 60px;
  height: 1px;

  background-color: var(--secondary-txt_mode-light);
}

.hero-item {
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-right-side {
  position: relative;

  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
  flex-grow: 1;

  background-color: #191c26;
  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left-side {
  display: flex;
  flex-direction: column;
}
.hero-uppertitle {
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 20px;
}

.hero-link {
  display: block;
  color: var(--secondary-txt_mode-light);

  transition: color var(--transition-fast);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-cl);
}

.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--secondary-txt_mode-dark);
}

.hero-subtitle {
  width: 486px;
}

.hero-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--secondary-txt_mode-dark);
  background-color: transparent;
  cursor: pointer;
}

.hero-btn:not(:last-child) {
  margin-right: 26px;
}

.hero-btn.disable {
  color: var(--disable);
}

.hero-slider-btn {
  position: absolute;
  right: 0;
  bottom: 40px;
}

/* About section */
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-container {
  display: flex;
}
.about-wrapper {
  width: 500px;
  margin-left: auto;
}
.about-subtitle {
  margin-bottom: 20px;
}
.about-text {
  margin-bottom: 40px;
}
/* Services section */

.services {
  background-color: var(--primary-bg_mode-dark);

  background-image: url(../images/services/services-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.services-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.services-list {
  padding: 30px 40px;
  flex-basis: 50%;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--main-txt_mode-dark);
}
.services-item {
  display: flex;
  justify-content: space-between;
}

.services-list:nth-child(odd) {
  background-image: linear-gradient(180deg, rgb(24, 27, 37), rgba(23, 26, 36, 0.2));
}
.services-list:nth-child(even) {
  background-image: linear-gradient(180deg, rgb(9, 11, 19), rgba(9, 11, 19, 0.2));
}

.services-item {
  display: flex;
  align-items: baseline;
}

.services-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-item::before {
  margin-left: 6px;
  margin-right: 6px;
  flex-grow: 1;
  order: 1;
  width: 100%;
  height: 1px;
  display: block;
  content: "";

  background-color: rgba(157, 164, 189, 0.12);
}

.services-text {
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.services-text:last-child {
  order: 2;
}

.services .btn {
  display: block;
  margin: 0 auto;
}

/* Why us section */
.why-container {
  display: flex;
  justify-content: center;
}

.why-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: 130px;
}

.why-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;

  text-align: center;
  color: var(--secondary-txt_mode-light);
  background-color: var(--primary-bg_mode-light);
}

.why-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}

.why-wrapper {
  width: 500px;
}

.why-quantity {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.why-quantity::after {
  margin-top: 8px;
  margin-left: 2px;

  content: "\002B";
  color: #ff6c00;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
}

.why-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
/* Team section */
.team {
  background-color: var(--primary-bg_mode-light);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.team-wrapper {
  padding: 30px;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;

  color: var(--secondary-txt_mode-light);
}

.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  color: var(--accent-cl);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #303030;

  background-color: #fff;

  transition: color var(--transition-fast), background-color var(--transition-fast);
}

.socials-link:hover {
  /*
  ==============
  Взаимодействие свойства color на родителе
  и currentColor на ребенке
  ==============
  */
  /* color: #ff6c00; */
  background-color: #555555;
}

.socials-icon {
  fill: currentColor;
}

.socials-link:hover .socials-icon {
  fill: var(--accent-cl);
}

/* Portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 30px;
}

/* Contacts section */
.contacts {
  color: var(--main-txt_mode-dark);
  background-color: var(--primary-bg_mode-dark);

  background-image: url(../images/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: top 50% left calc(50% + 312px);
}

.contacts-container {
  display: flex;
  column-gap: 40px;
}

.contacts-left-side,
.contacts-right-side {
  flex-basis: 50%;
}

.contacts .uppertitle-mode-dark {
  color: var(--secondary-txt_mode-dark);
}

.label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.form-label {
  position: relative;
  margin-right: 30px;
  color: rgba(157, 164, 189, 0.4);
}

.form-label:last-child {
  margin-right: 0;
}

.form-label:hover,
.form-label:focus {
  color: #ffffff;
}

.form-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: transform 300ms ease-in-out;
}

.form-input:focus + .form-text,
.form-input:not(:placeholder-shown) + .form-text {
  transform: translateY(-20px);
  color: #ffffff;
}

.form-input:not(:placeholder-shown):required:invalid + .form-text {
  color: red;
}

.form-text-alert {
  position: absolute;
  bottom: 0;
  left: 0;

  color: red;
  transform: translateY(30px);
  opacity: 0;

  transition: opacity 300ms ease-in-out;
}

.form-input:not(:placeholder-shown):required:invalid ~ .form-text-alert {
  opacity: 1;
}

.form-input {
  display: inline-block;
  width: 260px;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
}

.form-input:focus,
.form-input:not(:placeholder-shown) {
  border-color: #ffffff;
}

.form-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.form-label:hover .form-input,
.form-label:focus .form-input {
  border-color: #ffffff;
}

.form-message-label {
  display: block;
  margin-bottom: 44px;
}

.form-message-text {
  display: block;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.form-message-input {
  display: block;
  width: 100%;
  padding: 10px;

  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  resize: none;
}

/* .form-message-input::placeholder {
  color: rgba(157, 164, 189, 0.4);
} */

.address-list {
  width: 270px;
  margin-bottom: 70px;
}

.address-item:not(:last-child) {
  margin-bottom: 20px;
}

.address-link {
  position: relative;

  display: block;
  padding-left: 40px;
}

.address-link,
.address-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--main-txt_mode-dark);
}

.address-icon {
  position: absolute;
  top: 3px;
  left: 0;

  fill: transparent;
  stroke: var(--main-txt_mode-dark);
}

/* Footer section */

.footer {
  padding: 56px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  color: var(--main-txt_mode-dark);
}

.footer-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-list:before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;

  background-color: var(--secondary-txt_mode-light);
}

.footer-item {
  margin-right: 40px;
}

.footer-link {
  color: var(--secondary-txt_mode-light);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--transition-fast), visibility var(--transition-fast);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 400px;

  background-color: #fff;
  border-radius: 20px;

  transform: rotate3d(-1, 1, 0, 0deg) translate(-50%, -50%);
  transition: transform var(--transition-slow);
}

.backdrop.is-hidden .modal {
  transform: rotate3d(-1, 1, 0, 180deg);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid var(--primary-bg_mode-dark);
  border-radius: 50%;
  cursor: pointer;
}
